<div id = 'container'></div>

<script>
  Highcharts.chart('container', {
    chart: {
          type: 'bar'
        },
        title: {
          text: 'Database Statistics'
        },
        xAxis: {
          categories: ['Recipes', 'Interactions', 'Users']
        },
        yAxis: {
          title: {
            text: 'Number of Records'
          },
          tickInterval: 1000,
        },
        series: [{
          name: 'Number of Records',
          data: [<%= raw @userscount%>, <%= raw @recipescount %>, <%= raw @interactionscount%>]
        }]
        });
      });
    </script>
