
<!--https://stackoverflow.com/questions/58232844/rails-6-jbuilder-not-rendering-array-properly  same source for search.json.builder-->
<!--json.array! @recipex
partial: 'recipex/recipex',
            as: :recipex
json.array! @recipey
partial: 'recipey/recipey',
            as: :recipey  -->

 <!-- https://gorails.com/episodes/global-autocomplete-search 
-->
<h1> Advanced recipe comparison</h1>
<h3> Enter a word and let our autocomplete to help you compare recipes</h3><br>
<%=form_tag('/recipecomparison/display', method: :get) do%>
<%=text_field_tag 'q', nil, placeholder: ''%>
<%=text_field_tag 'z', nil, placeholder: ''%>
<%=submit_tag ('Search and compare')%>
<%end%>


<script>
//source https://github.com/gorails-screencasts/gorails-episode-192/blob/master/app/assets/javascripts/search.js
var options = {
	
	
	getValue: "name",
url: "/recipecomparison/search.json",

 url: function(phrase) {
      return "/recipecomparison/search.json?q=" + phrase;
    },

	list: {
		match: {
			enabled: true
		}
	}
};

$("#q").easyAutocomplete(options);
$("#z").easyAutocomplete(options);
</script>

<script type="text/javascript">
//https://stackoverflow.com/questions/6160415/reload-an-html-page-just-once-using-javascript
   if(window.location.href.substr(-2) !== "?r") {
      window.location = window.location.href + "?r";
    }
</script>

