
<!--https://stackoverflow.com/questions/58232844/rails-6-jbuilder-not-rendering-array-properly  same source for search.json.builder-->
<!--json.array! @recipex
partial: 'recipex/recipex',
            as: :recipex
json.array! @recipey
partial: 'recipey/recipey',
            as: :recipey  -->

 <!-- https://gorails.com/episodes/global-autocomplete-search 
-->
<h1> Welcome to advanced autocomplete comparison search</h1><br>
<h3> Enter and choose from the autocompleted recipes and click on Search and compare in order to see the results<h2><br>


<%=form_tag('/recipecomparison/display', method: :get) do%>
<%=text_field_tag 'q', nil, placeholder: ''%>
<%=text_field_tag 'z', nil, placeholder: ''%>
<%=submit_tag ('Search and compare')%>
<%end%>

<script>
//source https://github.com/gorails-screencasts/gorails-episode-192/blob/master/app/assets/javascripts/search.js
var options = {
	
	
	getValue: "name",
url: "/recipecomparison/search.json",

 url: function(phrase) {
      return "/recipecomparison/search.json?q=" + phrase;
    },

	list: {
		match: {
			enabled: true
		}
	}
};

var options2 = {
	
	
	getValue: "name",
url: "/recipecomparison/search.json",

 url: function(phrase) {
      return "/recipecomparison/search.json?z=" + phrase;
    },

	list: {
		match: {
			enabled: true
		}
	}
};


$("#q").easyAutocomplete(options);
$("#z").easyAutocomplete(options2);
</script>

