
<!-- https://getbootstrap.com/ -->
<!--https://bootstrapious.com/p/bootstrap-navbar -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Home</a>
      <a class="navbar-brand" href="/maps">Maps</a>
      <a class="navbar-brand" href="/dashboard">Dashboard</a>
      <a class="navbar-brand" href="/cocktails">Live cocktail data</a>
      <a class="navbar-brand" href="/allrecipes">All Recipes</a>
    </div>
  </div>
</nav>
<style>
.navbar {
    padding-top: 10px;
    padding-bottom: 10px;
    background: #c9f2bd;
    color: #c9f2bd;
}
</style>
